

body {
  margin: 0;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: relative;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  padding: 10px 10%; 
  width: 80%;
  height: 80px;
  z-index: 3;
  background-color: transparent;
  
}

.logo {
  cursor: pointer;
  height: 60px;
  width: 60px;

}



.nav__links {
  display: inline-block;
  list-style: none;
  border-right: solid 1px rgb(98, 1, 255);
}

.menu {
  display: none;
}


@media (max-width: 1060px) {
  .nav__links {
    display: none;
  }

  .menu {
    display: inline-block;
  }

}



.nav__links li  {
  list-style: none;
}

nav ul {
  position: relative;
  color: white;
  
}

 li {
  z-index: 2;
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding: 0 20px;
}

.user {
  position: absolute;
  margin: 30px 50px 0px 30px;
}


.slider{
  position: relative;
  height: 90vh;
  background: black;
  z-index: 0;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  opacity: 0;
  transition: .3s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: .6s;
}

.slide h1 {
  font-size: 36px;
  color: white;
  margin-left: 200px;
}
.slide h3 {
  font-size: 30px;
  color: rgb(98, 0, 255);
  margin-left: 200px;
}



.image {
position: absolute;
top: 0;
left: 0;
width:100%;
height:100%;
object-fit: cover;
z-index: -1;
}

.progress{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progress-bar {
  justify-content: center;
  position: absolute;
  height: 2px;
  bottom: 25%;
  width: 1200px;
  border-radius: 50px;
  background-color:rgba(133, 128, 128, 0.397);
}

.filler {
  background: rgb(111, 0, 255);
  height: 100%;
  border-radius: inherit;
}

.cards {
  bottom: 6%;
  position: absolute;
  justify-content: center;
}

.card__selector.active {
  margin: 30px 20px 0px 0px;
  height: 120px;
  width: 250px;
  object-fit: cover;
  opacity: 1;

}

.card__selector {
  opacity: 0.1;
  margin: 30px 20px 0px 0px;
  height: 120px;
  width: 250px;
  object-fit: cover;
  transition: 1s cubic-bezier(0.2, 0.82, 0.2, 1);
}

.crea {
  display: flex;
  justify-content: center;
  background: #ffff;
  color: black;
  height: 300px;
  
}

.waves {
  margin-top: -50px;
}

.image-group{
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 1060px) {
  .image-group {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 720px) {
  .image-group {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  height: 220px;
  width: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}

.card:hover img {
  transform: translateY(-20px);
}

.card img {
  position: absolute;
  top: 0;
  height: 110%;
  z-index: 0;
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1)

  
}

.player {
  height: 220px;
  width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.player:hover {
  transform: scale(1.5, 1.5);
  box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}

.player:hover img {
  transform: translateY(-20px);
}

.player img {
  position: absolute;
  top: 0;
  height: 110%;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1)

  
}

.card h3 {
  color: white;
  font-size: 26px;
  margin: 20px 0 0 20px;
  width: 190px;
  z-index:1
}

.card p {
  color: rgba(255,255,255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
  z-index:1

}

.last {
  background: white;
  width: 50px;
}

.last h1 {
  margin: 50px 0px 90px 0px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104deg, #050A27 0%, #4A548C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


